.nav-wrapper {
  background-color:#286168;
  padding:0px 30px 0px 30px;
}

nav a {
  font-size:20px;
  font-weight:bold;
}


p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.top-section-container {
  background: #81aa42;
  color:#162635;
  height:auto;
}

.welcome {
  color:white;
  font-size:18px;
  font-style:italic;
  font-weight:normal;
}

.main-text {
  font-size:18px;
  font-color:black;
  font-weight:bold;
  line-height:1.75;
}

.center {
  font-color:#162635;
}

.main-button {
  background-color:#162635;
}

.material-icons {
  color:#286168;
}

.bottom-container {
  background-color:#286168;
  color:white;
}

.card-image {
  padding:20px;
}

.page-footer {
  background-color:#286168;
}

.carousel .carousel-item {
width:350px !important;}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.collapsible-header, .download-link {
  color:#286168;
  font-size:16px;
}

